img{
    width: 300px;
    height: 300px;
}
h4{
    color:red
}
header{
    background-color: blue;
}
body{
    background-color:purple
}
h1{
    color:orange
}
.Purple:hover{
    width: 400px;
    transition:
    width 2s,
    height 2s;
}
.Orange:hover{
    width: 300px;
    transition:
    width 5s,
    height 5s;
}
    